body {
  margin: 0px;
  padding-right: 0%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #323232; 
  color: rgb(255, 255, 255);
  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-right: 550px;
  text-align: left;
}

.custom-image {
  position: absolute;
  top: 100px; 
  left: 70%; 
  border-radius: 2em;
  transform: translateX(-50%); 
  width: 300px; 
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #eaf1ec;
}

.services-list {
  list-style: none;
  padding-left: 5%;
  margin-top: 40px;
}

.item {
  cursor: pointer;
}

.description {
  display: none;
  margin-top: 5px;
  padding: 10px;
  margin-right: 10%;
  border: 2px solid #30d050;
  border-radius: 15px;
  background-color: #343030;
  
}

.services-list li {
  font-size: 25px;
  margin-bottom: 20px;
}

.services-list li:hover {
  color: #07e13d;
  cursor: pointer;
}

.more-services-button {
  background-color: #07e13d;
  color: #323232;
  border: 2px solid #07e13d;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  margin-left: 6%;
}

.more-services-button:hover {
  background-color: #323232;
  color: #07e13d;
  border: 2px solid #07e13d;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  transition: 500ms;
  cursor: pointer;
}

.service-container{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2a2a2a;
    margin-top: 20px;
    margin-left: 1px;
    padding: 20px;
}

.service-container img{
  width: 300px;
    border-radius: 3em;
    margin: 1px; /* Adjust spacing between images */
    transition: transform 0.5s, opacity 0.5s; 
}

.service-container img:hover{
  transform: scale(1.1);
  opacity: 0.8; /* Dim image on hover */
  cursor: pointer;
}