body {
  margin: 0px;
  padding-right: 0%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #323232; 
  color: rgb(255, 255, 255);
  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-right: 250px;
  text-align: left;
}

.custom-image {
  position: absolute;
  top: 50px; 
  left: 85%; 
  border-radius: 2em;
  transform: translateX(-50%); 
  width: 300px; 
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.description1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #07e13d;
}

.services-list {
  list-style: none;
  padding-left: 10%;
  margin-top: 40px;
}

.item {
  cursor: pointer;
}

.description {
  display: none;
  margin-top: 5px;
  padding: 10px;
  margin-right: 30%;
  background-color: #1f1d1d;
  
}

.services-list li {
  font-size: 25px;
  margin-bottom: 20px;
}

.services-list li:hover {
  color: #07e13d;
  cursor: pointer;
}

.more-services-button {
  background-color: #07e13d;
  color: #323232;
  border: 2px solid #07e13d;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.more-services-button:hover {
  background-color: #323232;
  color: #07e13d;
  border: 2px solid #07e13d;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  transition: 500ms;
  cursor: pointer;
}

.service-container{
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #2a2a2a;
}

.service-container img{
  width: 300px;
  margin-left: 4em;
  margin-block: 2%;
  border-radius: 2em;
}

.service-container img:hover{
  transform: scale(1.1);
  cursor: pointer;  
}