body {
  margin: 0px;
  padding-right: 0%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #323232; 
  color: rgb(255, 255, 255);
  
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-right: 30%;
  text-align: left;
}

.custom-image {
  position: absolute;
  top: 100px; 
  right: 210px;
  border-radius: 2em;
  width: 300px; 
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #eaf1ec;
}

.services-list {
  list-style: none;
  padding-left: 5%;
  margin-top: 40px;
}

.item {
  cursor: pointer;
}

.description {
  display: none;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  margin-right: 10%;
  border: 2px solid #30d050;
  border-radius: 15px;
  background-color: #2a2a2a;
  
}

.services-list li {
  font-size: 25px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.services-list li:hover {
  color: #07e13d;
  cursor: pointer;
}

.more-services-button {
  background-color: #07e13d;
  color: #323232;
  border: 2px solid #07e13d;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  margin-left: 5%;
  transition: transform 0.5s, opacity 0.5s;
}

.more-services-button:hover {
  background-color: #323232;
  color: #07e13d;
  border: 2px solid #07e13d;
  border-radius: 20px;
  transform: scale(1.1);
  /* opacity: 0.7; */
  cursor: pointer;
}

.service-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2a2a2a;
    padding: 50px 0px;
}

.service-container img{
  width: 300px;
    border-radius: 3em;
    transition: transform 0.5s, opacity 0.5s; 
}

.service-container img:hover{
  transform: scale(1.1);
  opacity: 0.8s; /* Dim image on hover */
  cursor: pointer;
}